API__HOST=localhost
API__PORT=8000

POSTGRES__USER=admin
POSTGRES__PASSWORD=admin
POSTGRES__HOST=localhost
POSTGRES__PORT=5432
POSTGRES__DATABASE=blunder

INGESTION__BATCH_SIZE=100
INGESTION__CONCURRENCY=20
